# docs
Desktop
Download
Workspace

# snap conf
snap

#
.anydesk
.cache
.cargo
.dotnet
.git-credentials
.gitconfig
.gphoto
.gtkrc-2.0
.icons
.java
.local
.m2
.mozilla
.my*
.npm
.nvm
.oh-my-zsh
.pki
.snap
.ssh
.vscode
.wget-hsts
.zcompdump-*
.zsh_history

