* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 10px;
}

/* Colors*/
/* #cdd6f4 */

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

/* Workspaces */
#workspaces {
  background-color: transparent;
  margin: 2px 0 1px 0;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 2px 8px 2px 6px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-weight: 700;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
  font-size: 8px;
}

#workspaces button:hover {
 color: #1e1e2e;
 background-color: #f38ba8;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#pulseaudio#microphone,
#bluetooth,
#backlight,
#clock {
  padding: 1px 6px;
  margin-top: 2px;
  margin-bottom: 1px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #181825;
}

/* Battery */
#battery {
  background-color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: #a6e3a1;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

/* CPU */
#cpu {
  background-color: #F9F3CC;
}

/* Memory */
#memory {
  background-color: #fab387;
}

/* Temperature */
#temperature {
  background-color: #E97777;
}

/* Network */
#network {
  background-color: #B4CFB0;
}

/* Pulseaudio */
#pulseaudio {
  background-color: #f9e2af;
}

/* Pulseaudio / Microphone */
#pulseaudio#microphone {
  background-color: #BDD2B6;
}

/* Bluetooth */
#bluetooth {
  background-color: #f9e2af;
}

/* Backlight */
#backlight {
  background-color: #fab387;
}

/* Clock/date */
#clock {
  background-color: #79B4B7;
}

/* Custom icon */
#custom-logo {
  margin: 2px 4px 1px 0;
  color: #1793d1;
  font-size: 12px;
}

/* Custom power menu */
#custom-powermenu {
  background-color: #F9F5F6;
  padding: 1px 6px 1px 4px;
  margin-top: 2px;
  margin-bottom: 1px;
  margin-right: 8px;
  border-radius: 4px;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
