bashtop
calcurse
cava
clipit
Code
composer
create-next-app-nodejs
dconf
flameshot
geany
Google
gtk-*
libfm
menus/
mimeapps.list
pavucontrol.ini
QtProject.conf
mpv
nextjs-nodejs
pacmanfm
pulse
bashtop
sfetch
vlc
vscode
