bashtop
calcurse
cava
Code
create-next-app-nodejs
dconf
flameshot
geany
gtk-*
lazygit
libfm
menus/
mimeapps.list
pavucontrol.ini
QtProject.conf
mpv
nextjs-nodejs
pcmanfm
pulse
bashtop
sfetch
vlc
vscode
