* {
  font-family: 'CaskaydiaCove Nerd Font';
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: #181825;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  animation: slideIn 0.5s ease-in-out both;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#input {
  padding: 4px 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #f38ba8;
}

#input:focus {
  outline: none;
}

#inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
    animation: fadeIn 0.5s ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
